
<footer class="footer">
  <div class="content">
    <p  style="--color:#0072b1">&copy; 2005 Nirmal Bricks<br>
      All Rights Reserved </p>
      <div class="icons">
        <a href="#" class="icon-link" style="--color:#0072b1"><i class="fab fa-facebook"></i></a>
        <a href="#" class="icon-link"  style="--color:#0072b1"><i class="fab fa-twitter"></i></a>
        <a href="#" class="icon-link"  style="--color:#0072b1"><i class="fab fa-instagram"></i></a>
        <a href="#" class="icon-link"  style="--color:#0072b1"><i class="fab fa-linkedin"></i></a>
      </div>
  </div>
</footer>