


  <div class="chatbot-container">
    <div class="chatbot-header">
      <h3>Enquiry Chatbot</h3>
    </div>
    <div class="chatbot-messages">
      <div *ngFor="let response of response" [class.user]="response.sender === 'user'" class="response">
        {{ response.text }}
      </div>
    </div>
    <div class="chatbot-input">
      <input [(ngModel)]="userInput" placeholder="Type your enquiry..." (keyup.enter)="sendMessage()" />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>


