<app-header></app-header>
<p><i><b>Welcome {{userName}}</b></i></p>

<div class="space-between">
    
    
    <div class="card">
        <div class="image-box">
            <img src="../../assets/fly-ash-bricks.jpg" alt="logo">
        </div>
        <div class="content">
            <h2>Fly Ash Bricks</h2>
            <p>
                Size 4*3*9 <br>
                raw materials used - Cement, Ash, Sand.
            </p>
        </div>
    </div>


    <div class="card">
        <div class="image-box">
            <img src="../../assets/alc-block.jpg" alt="logo">
        </div>
        <div class="content">
            <h2>ALC Block</h2>
            <p>
                Size 24*8*4 <br>
                raw materials used - Sand, Cement, Lime Stone powder, fly Ash, Gypsum.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="image-box">
            <img src="../../assets/concrete-block-cinder-block.jpg" alt="logo">
        </div>
        <div class="content">
            <h2>ALC Block</h2>
            <p>
                Size 24*8*4 <br>
                raw materials used - Sand, Cement, Lime Stone powder, fly Ash, Gypsum.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="image-box">
            <img src="../../assets/paver.jpg" alt="logo">
        </div>
        <div class="content">
            <h2>ALC Block</h2>
            <p>
                Size 24*8*4 <br>
                raw materials used - Sand, Cement, Lime Stone powder, fly Ash, Gypsum.
            </p>
        </div>
    </div>

</div>

<app-footer></app-footer>